<h1>Stupid Coaching</h1>


<h2><%= params[:query] %></h2>
<h3>- You</h3>

<h2><%= @answer %></h2>
<h3> - Your stupid coach</h3>

<h4><%= link_to "Ask a new question!", coaching_ask_path %></h4>

<!-- <p>Find me in app/views/coaching/answer.html.erb</p> -->


