<!-- <h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p> -->

<h1>Stupid Coaching</h1>

<form action="/coaching/answer" method="get">
  <label for="question">Ask your coach!</label>
  <input type="text" id="question" name="query" placeholder="Whats the question?">
  <input type="submit" value="Go!">
</form>
